/* style.css */

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anonymous Pro', sans-serif;
  background-color: #000;
  color: #22C55E;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2 {
  margin-bottom: 10px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  border: 1px solid #22c55e56;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

.navbar .btn-wallet {
  border: 1px solid #22C55E;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Airdrop Container */
.main-content {
  margin: 20px 0;
}

.placeholder {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
  color: #22C55E;
}

.airdrop-container {
  display: none;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #001a00;
  border: 1px solid #22c55e56;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  opacity: 0;
  transform: scale(0.8);
  animation: zoomIn 0.5s forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.join-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #22c55e33;
  border-radius: 0.5rem;
  color: rgb(34 197 94 / 1);
  box-shadow: 0 0 10px #00ff4633, inset 0 0 10px #00ff461a;
  transition: all 0.15s cubic-bezier(.4, 0, .2, 1);
}

.join-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #22C55E;
}

/* Modal Styles */
.task-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.task-modal-content {
  background-color: #001a00;
  border: 3px solid #22C55E;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-modal-content .line-1 {
  font-family: 'Anonymous Pro', monospace;
  color: #22C55E;
  border-right: 2px solid #22C55E;
  font-size: 1.5rem; /* Adjusted for mobile readability */
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;
  text-align: center;
  width: 100%; /* Ensure it spans the full width */
  padding: 0 10px; /* Add padding for spacing */
  margin-bottom: 1rem; /* Space below the text */
}

.anim-typewriter {
  animation: typewriter 2s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

.radio-options {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
}

.radio-options label {
  display: flex;
  align-items: center;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #22C55E;
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .task-modal-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar nav {
    flex-direction: column;
    margin-top: 10px;
  }

  .card {
    width: 90%;
    max-width: none;
  }

  .task-modal-content .line-1 {
    font-family: 'Anonymous Pro', monospace;
    color: #22C55E;
    border-right: 2px solid #22C55E;
    font-size: 10px; /* Adjusted for mobile readability */
    white-space: normal; /* Allow text to wrap */
    overflow: hidden;
    text-align: center;
    width: 100%; /* Ensure it spans the full width */
    padding: 0 10px; /* Add padding for spacing */
    margin-bottom: 1rem; /* Space below the text */
  }

  .radio-options {
    gap: 5%;
  }

  .join-button {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #22c55e33;
  border: none;
  border-radius: 5px;
  color: #22C55E;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s, background-color 0.3s;
}

.close-button:hover {
  transform: scale(1.1);
  background-color: #22C55E;
  color: #000;
}
