/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #22C55E;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: #22C55E;
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border: 1px solid #22c55e56;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
  }
  
  .navbar .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar nav {
    display: flex;
    gap: 20px;
  }
  
  .navbar .btn-wallet {
    border: 1px solid #22C55E;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Main Content */
  .main-content {
    margin: 20px 0;
  }
  
  .card {
    background-color: #001a00;
    border: 1px solid #22c55e56;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin: 10px 0;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #22c55e56;
    padding-bottom: 10px;
  }
  .airdrop-container{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }
  
  .card-header h2 {
    font-size: 24px;
  }
  
  .card-body {
    padding: 10px 0;
  }
  
  .price-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .price-block p:first-child {
    font-size: 14px;
    color: #22C55E;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .details {
    margin-bottom: 20px;
  }
  
  .prediction-desc {
    color: #22C55E;
    font-size: 14px;
  }
  